In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [120]:
data= pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [121]:
data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [122]:
column_names={'date':'date', 'Appliances':'Appliances', 'lights':'lights', 
              'T1':'Temp in kitchen area', 'RH_1':'Hum in kitchen area', 
              'T2':'Temp in living room area', 'RH_2':'Humidity in living room area',
              'T3':'Temp in laundry room area',
       'RH_3':'Hum in laundry room area', 'T4':'Temp in office room', 
       'RH_4':'Hum in office room', 'T5':'Temp in bathroom', 
       'RH_5':'Hum in bathroom', 'T6':'Temp outside the building', 'RH_6':'Hum outside the building', 
       'T7': 'Temp in ironing room', 'RH_7':'Hum in ironing room', 
       'T8':'Temp in teenager room 2','RH_8':'Hum in teenager room 2', 
       'T9':'Temp in parents room', 'RH_9':'Hum in parents room', 'T_out':'T_out', 
       'Press_mm_hg':'Press_mm_hg', 'RH_out': 'RH_out', 'Windspeed':'Windspeed',
       'Visibility':'Visibility', 'Tdewpoint':'Tdewpoint', 'rv1':'rv1', 'rv2':'rv2'}

In [123]:
data1= data.rename(columns=column_names)

In [124]:
data1.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [125]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          19735 non-null  object
 1   Appliances                    19735 non-null  int64
 2   lights                        19735 non-null  int64
 3   Temp in kitchen area          19735 non-null  float64
 4   Hum in kitchen area           19735 non-null  float64
 5   Temp in living room area      19735 non-null  float64
 6   Humidity in living room area  19735 non-null  float64
 7   Temp in laundry room area     19735 non-null  float64
 8   Hum in laundry room area      19735 non-null  float64
 9   Temp in office room           19735 non-null  float64
 10  Hum in office room            19735 non-null  float64
 11  Temp in bathroom              19735 non-null  float64
 12  Hum in bathroom               19735 non-null  float64
 13  Temp outside the building     19735 non-null  float64
 14  Hum outside the building      19735 non-null  float64
 15  Temp in ironing room          19735 non-null  float64
 16  Hum in ironing room           19735 non-null  float64
 17  Temp in teenager room 2       19735 non-null  float64
 18  Hum in teenager room 2        19735 non-null  float64
 19  Temp in parents room          19735 non-null  float64
 20  Hum in parents room           19735 non-null  float64
 21  T_out                         19735 non-null  float64
 22  Press_mm_hg                   19735 non-null  float64
 23  RH_out                        19735 non-null  float64
 24  Windspeed                     19735 non-null  float64
 25  Visibility                    19735 non-null  float64
 26  Tdewpoint                     19735 non-null  float64
 27  rv1                           19735 non-null  float64
 28  rv2                           19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [126]:
data1.shape

(19735, 29)

In [127]:
data1.isnull().any()

date                            False
Appliances                      False
lights                          False
Temp in kitchen area            False
Hum in kitchen area             False
Temp in living room area        False
Humidity in living room area    False
Temp in laundry room area       False
Hum in laundry room area        False
Temp in office room             False
Hum in office room              False
Temp in bathroom                False
Hum in bathroom                 False
Temp outside the building       False
Hum outside the building        False
Temp in ironing room            False
Hum in ironing room             False
Temp in teenager room 2         False
Hum in teenager room 2          False
Temp in parents room            False
Hum in parents room             False
T_out                           False
Press_mm_hg                     False
RH_out                          False
Windspeed                       False
Visibility                      False
Tdewpoint                       False
rv1                             False
rv2                             False
dtype: bool

In [128]:
# normalizing X and y using MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
# dropping the object data, date, and lights column
data2=data1.drop(columns=['date', 'lights'])
normalized_data=pd.DataFrame(scaler.fit_transform(data2), columns=data2.columns)

In [129]:
# dropping the target to create features X and Target y
X=normalized_data.drop(columns=['Appliances'])
y=normalized_data['Appliances']

In [130]:
X.shape

(19735, 26)

In [131]:
y.shape

(19735,)

In [132]:
# importing necessary sklearn libraries
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, mean_squared_error

# splitting dataset into training and testing sets in the ratio 70:30

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [133]:
model1=linear_model.LinearRegression()
#fit the model to the training dataset
model1.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [134]:
#obtain predictions
predicted_values = model1.predict(x_test)

In [135]:
#MAE
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

0.05

In [136]:
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [137]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 3)

0.149

In [138]:
from sklearn.linear_model import Ridge, Lasso
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [139]:
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [140]:
def get_weights_df(model, feat, col_name):

#this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [141]:
linear_model_weights = get_weights_df(model1, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [142]:
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [144]:
final_weights

                        Features  ...  Lasso_weight
0   Humidity in living room area  ...     -0.000000
1                          T_out  ...      0.000000
2       Temp in living room area  ...      0.000000
3           Temp in parents room  ...     -0.000000
4         Hum in teenager room 2  ...     -0.000110
5                         RH_out  ...     -0.049557
6            Hum in ironing room  ...     -0.000000
7            Hum in parents room  ...     -0.000000
8               Temp in bathroom  ...     -0.000000
9           Temp in kitchen area  ...      0.000000
10                           rv1  ...     -0.000000
11                           rv2  ...     -0.000000
12                   Press_mm_hg  ...     -0.000000
13          Temp in ironing room  ...     -0.000000
14                    Visibility  ...      0.000000
15               Hum in bathroom  ...      0.000000
16            Hum in office room  ...      0.000000
17           Temp in office room  ...     -0.000000
18                     Windspeed  ...      0.002912
19      Hum outside the building  ...     -0.000000
20      Hum in laundry room area  ...      0.000000
21       Temp in teenager room 2  ...      0.000000
22                     Tdewpoint  ...      0.000000
23     Temp outside the building  ...      0.000000
24     Temp in laundry room area  ...      0.000000
25           Hum in kitchen area  ...      0.017880

[26 rows x 4 columns]

In [83]:
y_test.dtypes

dtype('float64')

In [61]:
rss=np.sum(np.square(y_test-predicted_values))
round(rss, 3)

45.348

In [113]:
#pd.DataFrame(
X2=data1['Temp in living room area']
y2=data1['Temp outside the building']

AttributeError: ignored

In [112]:
X2.shape

(19735,)

In [108]:
x_train1, x_test1, y_train1, y_test1 = train_test_split(X2, y2, test_size=0.3)

In [110]:
model1.fit(X2,y2 )

ValueError: ignored

In [88]:
#obtain predictions
predicted_values1 = model1.predict(x_test1)

In [90]:
r2_score1 = r2_score(y_test1, predicted_values1)
round(r2_score, 2)

TypeError: ignored

In [92]:
y_test1.dtypes

Temp outside the building    float64
dtype: object

In [70]:
x_train.'Temp in living room area'

SyntaxError: ignored